#foo {
    width: 100px;
    height: 100px;
    background: #ff0000;
    animation-name: bgChanges;
    animation-duration: 3s;
}

@keyframes bgChanges {
    0% {
        background: #ff0000;
    }

    100% {
        background: #48ff00;
    }
}

